body {
    font-family: 'Kodchasan', sans-serif;
    background-color: #FCFBF5!important;
    background-image: url("../img/bg_studentlogin.png");
    background-repeat : no-repeat;
    background-position: left bottom;
    background-size: 100% auto;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1640px!important;
    }
}

<<<<<<< HEAD

textarea:focus, input:focus, a:focus{
  outline: none;
}
input.input_studentLogin::-webkit-outer-spin-button,
input.input_studentLogin::-webkit-inner-spin-button {
  -webkit-appearance: none;

}

.header {
    height: 168px;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.navbar-brand {
    width: 100%;
    padding-top: 1.3125rem !important;
    padding-bottom: .3125rem !important;
}
.navbar-brand img {
    width: 120%;
    height: auto;
    margin-left: -60px;
    margin-top: 10px;
}
=======
.header {
    height: 168px;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.navbar-brand {
    width: 100%;
    padding-top: 1.3125rem !important;
    padding-bottom: .3125rem !important;
}
.navbar-brand img {
    width: 120%;
    height: auto;
    margin-left: -60px;
    margin-top: 10px;
}
>>>>>>> parent of 05fc25f... [Css] new
.userShowIcon img {
    width: 80%;
    filter: drop-shadow(0px 2px 8px rgba(0,0,0,0.16));
    z-index: 1;
    margin-top: -150px;
}
.card {
    width: 100%;
    height: 765px;
    border-radius: 2.25rem!important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}
.card h2 {
    font-family: 'Kodchasan', sans-serif;
    font-size: 42px;
    font-weight: bold;
    color: #393939;
    padding-top: 30px;
}
.card h3 {
    font-family: 'Kodchasan', sans-serif;
    font-size: 29px;
    font-weight: bold;
    color: #393939;
    padding: 10px;
}
.card h1 {
    font-family: 'Kodchasan', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #393939;
    padding-top: 30px;
}
.input_studentLogin {
    margin-top: 50px;
    width: 100%;
    height: 145px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    border: solid 8px #f9d44d;
    background-color: #ffffff;
    font-family: 'Kodchasan';
    font-size: 104px;
    font-weight: bold;
    color: #393939;
}
.btn-loginStd {
    margin-top: 10px;
    width: 370px;
    height: 126px;
    border-radius: 100px!important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    border: solid 7px #ffffff!important;
    background-color: #4cac72;
    font-family: 'Kodchasan';
    font-size: 45px!important;
    font-weight: bold;
    color: #ffffff;
}
.footer {
    font-family: 'Bai Jamjuree';
    font-size: 25px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    z-index: 10;
}

.input_studentLoginShow {
    margin-top: 50px;
    width: 100%;
    height: 145px;
    box-shadow: 0 4px 2px -2px  rgba(0, 0, 0, 0.16);
    border-bottom: solid 2px #e8e8e8;
    background-color: #ffffff;
    font-family: 'Kodchasan';
    font-size: 45px;
    font-weight: bold;
    color: #393939;
    bottom: 0;
}
.input_studentLoginShow p {
    padding-top: 50px;
}
.input_studentLoginShow span {
    font-size: 45px;
    font-weight: bold;
    color: #f15f61;
}

.btn-logoutStd {
    margin-top: 10px;
    width: 370px;
    height: 126px;
    border-radius: 100px!important;
    font-family: 'Kodchasan';
    font-size: 45px!important;
    font-weight: bold;
    border: solid 7px #ffffff!important;
    color: #ffffff;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.16);
    border: solid 7px #ffffff;
    background-color: #f9c01a;
}
.btn-logoutStd a {
    color: #ffffff;
    text-decoration: none!important;
}
.btn-logoutStd a:hover {
    color: #ffffff;
}
.btn-nextStd {
    margin-top: 10px;
    width: 370px;
    height: 126px;
    border-radius: 100px!important;
    font-family: 'Kodchasan';
    font-size: 45px!important;
    font-weight: bold;
    border: solid 7px #ffffff!important;
    color: #ffffff;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.16);
    border: solid 7px #ffffff;
    background-color: #f15f61;
}
.btn-nextStd a {
    color: #ffffff;
    text-decoration: none!important;
}
.btn-nextStd a:hover {
    color: #ffffff;
}