body {
  font-family: 'Kodchasan', sans-serif;
  background-color: #FCFBF5;
  background-image: url("../img/bg_category.png");
  background-repeat : no-repeat;
  background-position: 0px 0px;
  background-size: cover;
  min-height: 100%;
  overflow: hidden;
}

textarea:focus, input:focus, a:focus{
  outline: none;
}

@font-face {
  font-family: 'nattanan_tsl_fingerspellingRg';
  src: url('/../fonts/nattanan_tsl_fingerspelling-webfont.eot');
  src: url('/../fonts/nattanan_tsl_fingerspelling-webfont.eot?#iefix') format('embedded-opentype'),
  url('/../fonts/nattanan_tsl_fingerspelling-webfont.woff2') format('woff2'),
  url('/../fonts/nattanan_tsl_fingerspelling-webfont.woff') format('woff'),
  url('/../fonts/nattanan_tsl_fingerspelling-webfont.ttf') format('truetype'),
  url('/../fonts/nattanan_tsl_fingerspelling-webfont.svg#nattanan_tsl_fingerspellingRg') format('svg');
  font-weight: normal;
  font-style: normal;

}


a.logoLoginPhoto:hover, a.logoLoginPhoto:focus {
  text-decoration: none;
}

.function {
  padding-top: 100px;


}

.header {
  height: 168px;
  width: 100%;
  position: fixed;
  z-index: 2;
}

.navbar-brand {
  width: 100%;
  /*padding-top: 1.3125rem !important;*/
  /*padding-bottom: .3125rem !important;*/

}

.navbar-brand img {
  width: 100%;
  height: auto;
  margin-left: -60px;
  margin-top: 10px;
}

.navbar-expand-lg {
  height: 100px;
  background-color: #FCFBF5;
  /*box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);*/
}

.menuItem img {
  width: 35%;
  height: auto;
  margin-top: 20px;
}

a.menuCate {
  width: 100%;
  height: 80px;
  color: #ffffff;
  font-family: 'Kodchasan', sans-serif;
  font-size: 24px;
  background-color: #FFCD1A;
  border-radius: 50px;
  border: 6px solid #ffffff;
  padding-top: 7%;
  font-weight: bold;
  margin-top: -25px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

}

a.menuSen {
  width: 100%;
  height: 80px;
  color: #ffffff;
  font-family: 'Kodchasan', sans-serif;
  font-size: 24px;
  background-color: #EF6267;
  border-radius: 50px;
  border: 6px solid #ffffff;
  padding-top: 7%;
  font-weight: bold;
  margin-top: -25px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

}

a.menuExer {
  width: 100%;
  height: 80px;
  color: #ffffff;
  font-family: 'Kodchasan', sans-serif;
  font-size: 24px;
  background-color: #3EBBAE;
  border-radius: 50px;
  border: 6px solid #ffffff;
  padding-top: 7%;
  font-weight: bold;
  margin-top: -25px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

}


nav.nav-mobile {
  background-color: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 415px) {
  nav.nav-mobile {
    background-color: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    display: none;
  }
}

.bg {
  width: 100%;
  height: 1080px;
  position: relative;
  /*margin-top: -5px;*/
  z-index: -1;
  box-shadow: 0 0 99px 0 rgba(0, 0, 0, 0.08);
  border-left: solid 20px #f6ce4f;
  border-right: solid 20px #f6ce4f;
  background-color: #fcfbf5;

}


.functitle {
  width: 100%;
  height: 91vh;
  box-shadow: 0 0 99px 0 rgba(0, 0, 0, 0.08);
  border-left: solid 20px #f6ce4f;
  border-right: solid 20px #f6ce4f;
  background-color: #fcfbf5;
  /*background-image: url("../img/category_map.png");*/
  /*background-repeat : no-repeat;*/
  /*background-size: cover;*/
  /*margin-top: -980px;*/
}

.functitle h1 {
  font-size: 36px;
  font-weight: bold;
  color: #52341c;
  margin-top: 100px;
  margin-bottom: 20px;
}

.categories_list {
  margin: 30px 120px;
  width: 100%;
}

.categories_list_padding {
  padding: 0px 120px;
  width: 100%;
  height: auto;
}
.categories_list_paddingt0 {
  padding: 0px 80px;
  padding-top: 0px;
}

.cardImg {
  margin-left: 30px;
  width: 100%;
  height: 465px;
  border-radius: 10px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.16);
  border: solid 15px #f6ce4f;
  background-color: #ffffff;
}

.card {
  width: 100%;
  height: 250px;
  border-radius: 33px;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.16);
  border: solid 10px #ffcd1a;
  background-color: #ffffff;
  margin-top: 20px;
}

.card-body {
  height: 70px;
  text-align: center;
  color: #393939;
}

.card:hover {
  background: #ffcd1a;
  color: #FFFFFF;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  /*transform: scale(0.9, 0.9);*/
}
.card a:hover {
  text-decoration: none;
}

.card-body h4 {
  font-size: 30px;
  font-weight: bold;
}
.card-img-top {
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.card-img-top img {
  width: 100%;
  height: auto;
  padding: 5% 15%;
}

.wordPhoto {
  width: auto;
  height: 390px;
  overflow: hidden;
  padding: 40px

}
.cardWord h4 {
  padding-top: 40px;
  font-family: 'Kodchasan';
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #453324;

}

.wordPhoto img {
  display: inline;
  margin: 0 auto;
  height: auto;
  width: 90%;
}

.videoShow {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left top;
}

.videoShow video {
  position: relative;
  border-radius: 30px;
  margin-left: 60px;
}

.wordShow {
  margin-top: 55px;
}

.btn-titleTh {
  width: 198px;
  height: 77px;
  background: none;
  background-image: url("/../img/menu_wood.png");
  background-repeat: no-repeat;
  /*pointer-events: none;*/
  /*margin-top: -65%;*/
}

.btn-titleSign {
  width: 198px;
  height: 77px;
  background: none;
  background-image: url("/../img/menu_wood.png");
  background-repeat: no-repeat;
  /*pointer-events: none;*/
  /*margin-top: -65%;*/
}

.showTextWord {
  margin-top: 56px;
  margin-left: 30px;
  width: 100%;
  height: 209px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.16);
  border: solid 15px #f6ce4f;
  background-color: #ffffff;
}
.cardWord {
  margin-top: -70px;
}

h2.textLang {
  font-size: 78px;
  font-weight: bold;
  color: #453324;
  margin-top: 60px;
}

h2.signLang {
  font-family: 'nattanan_tsl_fingerspellingRg';
  font-size: 73px;
  color: #453324;
  padding: 3px;
}

.titleBox {
  margin-top: -21%;
}

.btn-Stdback {
  width: 100%;
  height: 90px;
  border-radius: 50px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.16);
  border: solid 7px #ffffff;
  background-color: #54beee;
  margin-top: 20px;
  margin-bottom: 25px;
  /*pointer-events: auto;*/
}
.btn-play {
  width: 100%;
  height: 90px;
  border-radius: 76px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.16);
  border: solid 7px #ffffff;
  background-color: #f58161;
  float: right;
}
.btn-play h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin-bottom: -8px;
}

.btn-Stdback h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin-top: 8px;
}


.exercise_list {
  width: 100%;
  margin: 50px 130px;
}

.selectPhoto {
  /*background-image: url("");*/
}

.content_bg {
  width: 100%;
  height: auto;
  margin-top: -410px;
}

.content_bg img {
  width: 100%;
  height: auto;
}


.videoShow {
  width: 100%;
  height: auto;
}

.videoShow button {
  font-size: 100px;
  color: #FFFFFF;
}


.slick-prev {
  left: -175px !important;
}

.slick-next {
  right: -175px !important;
}

.slick-next, .slick-prev {
  width: 120px !important;
  height: 120px !important;
}


.slick-initialized .slick-slide {
  /*width: 380px;*/
  /*height: 349px;*/
}


/*.slick-list {*/
/*width: 100%;*/
/*}*/
/*.slick-initialized .slick-slide {*/
/*width: 410px;*/
/*}*/
/*.slick-slider {*/
/*width: 100%;*/
/*!*position: absolute!important;*!*/
/*}*/






/* sentence function 2*/

.functitleSentence {
  width: 100%;
  height: 53vh;
  box-shadow: 0 0 99px 0 rgba(0, 0, 0, 0.08);
  border-left: solid 20px #f15f61;
  border-right: solid 20px #f15f61;
  background-color: #fcfbf5;
  /*background-image: url("../img/category_map.png");*/
  /*background-repeat : no-repeat;*/
  /*background-size: cover;*/
  /*margin-top: -980px;*/
}

.functitleSentence h1 {
  font-size: 45px;
  font-weight: bold;
  color: #52341c;
  margin-top: 8px;
}
.actionBtn {
  z-index: 10;
  /*position: absolute;*/
  margin-top: -50px;
}
.returnSentence {
  position: fixed;
  width: 100%;
  height: 50vh;
  box-shadow: 0 -10px 22px 0 rgba(0, 0, 0, 0.08);
  border-top: solid 20px #f15f61;
  background-color: #fffcfc;

}
.btn-StdbackSen {
  width: 100%;
  height: 90px;
  border-radius: 76px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.16);
  border: solid 7px #ffffff;
  background-color: #f6ce4f;
  margin-left: -130px;
}
.btn-StdbackSen h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin: 15px;
}
.btn-sentenceNext {
  width: 100%;
  height: 90px;
  border-radius: 76px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.16);
  border: solid 7px #ffffff;
  background-color: #54beee;
  margin-left: 130px;
}
.btn-sentenceNext h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0;
}
h2.sentenceTitle {
  text-align: center;
  font-size: 34px;
  color: #313131;
  font-weight: bold;
  padding-bottom: 15px;
}
.vocapPad {
  padding: 20px 100px;
}

.btn-vocabS {
  width: 100%;
  height: 90px;
  border-radius: 21px;
  border: solid 6px #F9D44D;
  background-color: #ffffff;
  font-family: 'Kodchasan';
  font-size: 33px;
  font-weight: bold;
  text-align: center;
  color: #414141;
}
 input:focus.btn-vocabS {
   border: solid 6px #F9D44D;
   background-color: #FDF3CE ;
}

.btn-vocabV {
  width: 100%;
  height: 90px;
  border-radius: 21px;
  border: solid 6px #54beee;
  background-color: #ffffff;
  font-family: 'Kodchasan';
  font-size: 33px;
  font-weight: bold;
  text-align: center;
  color: #414141;
}
input:focus.btn-vocabV {
  border: solid 6px #54beee;
  background-color: #E0F5FF ;
}
.btn-vocabO {
  width: 100%;
  height: 90px;
  border-radius: 21px;
  border: solid 6px #3ebbae;
  background-color: #ffffff;
  font-family: 'Kodchasan';
  font-size: 33px;
  font-weight: bold;
  text-align: center;
  color: #414141;
}
input:focus.btn-vocabO {
  border: solid 6px #3ebbae;
  background-color: #CAEAE5 ;
}




.sentence {
/*padding: 0 50px;*/
}
.sentence i {
  float: right;
  font-size: 30px;
  margin-left: 10px;
  position: relative;
  margin-right: -42px;
  margin-top: -125px;
}

img.tape {
  position: absolute;
  margin-top: -25px;
  margin-left: -10px;
}
img.tapeBlue {
  position: absolute;
  margin-top: -25px;
  margin-left: -10px;
}
img.tapeGreen {
  position: absolute;
  margin-top: -25px;
  margin-left: -10px;
}

.sentenceTitle1 {
  width: 100%;
  height: 90px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  border: solid 8px #ffffff;
  background-color: #fdf3ce;

}

.sentenceTitle2 {
  width: 100%;
  height: 90px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  border: solid 8px #ffffff;
  background-color: #c1ecff;
  margin: 0 auto;
}

.sentenceTitle3 {
  width: 100%;
  height: 90px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  border: solid 8px #ffffff;
  background-color: #caeae5;
  float: right;
}

.fieldSpace {
  width: 100%;
  padding-top: 25px;
}

.sentenceTitle1 h2, .sentenceTitle2 h2, .sentenceTitle3 h2 {
  text-align: center;
  padding-top: 5%;
  font-weight: bold;
  font-size: 38px;
}
.fieldSpace input {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  color: #52341c;

}

.verbGrayField {
  width: 100%;
  height: 225px;
  border-radius: 10px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.16);
  border: solid 10px #D8D8D8;
  background-color: #ffffff;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #313131;
}
.objGrayField {
  width: 100%;
  height: 225px;
  border-radius: 10px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.16);
  border: solid 10px #D8D8D8;
  background-color: #ffffff;
  float: right;
  margin-top: 25px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #313131;
}


.subjectField {
  width: 100%;
  height: 225px;
  border-radius: 10px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.16);
  border: solid 10px #f9d44d;
  background-color: #ffffff;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #313131;
  padding: 70px 0;
}
.verbField {
  width: 100%;
  height: 225px;
  border-radius: 10px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.16);
  border: solid 10px #54beee;
  background-color: #ffffff;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #313131;
  padding: 70px 0;
}
input.objField {
  width: 100%;
  height: 225px;
  border-radius: 10px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.16);
  border: solid 10px #3ebbae;
  background-color: #ffffff;
  float: right;
  margin-top: 25px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #313131;
}


.functitleRed {
  width: 100%;
  height: 91vh;
  box-shadow: 0 0 99px 0 rgba(0, 0, 0, 0.08);
  border-left: solid 20px #ef5f61;
  border-right: solid 20px #ef5f61;
  background-color: #fcfbf5;
  /*background-image: url("../img/category_map.png");*/
  /*background-repeat : no-repeat;*/
  /*background-size: cover;*/
  /*margin-top: -980px;*/
}

.functitleRed h1 {
  font-size: 36px;
  font-weight: bold;
  color: #52341c;
  margin-top: 60px;
}









footer {
  width: 100%;
  display: none;
  /*background-color: #FAF8F3;*/
}
.footer img {
  margin-left: -40px;
  margin-top: -335px;
  width: 70%;
  overflow: hidden;
}
.copyright h3 {
  font-size: 15px;
  margin-top: 20px;
}
.copyright {
  height: 60px;
  font-family: 'Kodchasan';
  position: fixed;
  left: 0;
  bottom: 0px;
  width: 100%;
  background-color: #FAF8F3;
  color: #9F9D98;
  text-align: center;
}

.footer hr {
  margin-top: -1rem;
  margin-bottom: -1rem;
  border: 0;
  border-top: 15px solid #ffffff;
  border-radius: 25px 25px 25px 25px;
}


.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: .6s;
  transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}

:focus {
  outline: none;
}



/*exercise*/
.selectImg{
  margin-top: 30px;
  width: 90%;
  height: 320px;
  border-radius: 50px;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.16);
  border: solid 12px #3ebbae;
  background-color: #ffffff;
}
.selectImg img {
  width: 70%;
  height: auto;
}
.selectSign {
  margin-top: 30px;
  width: 90%;
  height: 320px;
  border-radius: 50px;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.16);
  border: solid 12px #ffcd1a;
  background-color: #ffffff;
}
.selectSign img {
  width: 50%;
  height: auto;
}

.btn-selectImgt {
  margin-top: 30px;
  padding: 25px;
  width: 100%;
  height: 110px;
  border-radius: 76px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.16);
  border: solid 7px #ffffff;
  background-color: #2ECCC2;
  font-family: 'Kodchasan';
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}
.btn-selectSign {
  margin-top: 30px;
  padding: 25px;
  width: 100%;
  height: 110px;
  border-radius: 76px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.16);
  border: solid 7px #ffffff;
  background-color: #f6ce4f;
  font-family: 'Kodchasan';
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}
button:focus {
  outline: none;
}
.footer img {
  display: none;
}
img.blackBoard {
  margin-top: -110px;
  position: relative;
  width: 1190px;
}
a:not([href]):not([tabindex]) {
  color: #ffffff;
}
.btn-start {
  width: 100%;
  height: 126.4px;
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  border-radius: 76px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.16);
  border: solid 10px #ffffff;
  background-color: #3ebbae;
  margin-left: 40px;
}


.exerciseset {
  background-image: url("../img/border_exam-01.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 100% 100%;
}
.circleStar {
  font-size: 80px;
  color: #FCFFFF;
}
.exerciseset h2 {
  margin-top: 30px;
  font-family: 'Kodchasan';
  font-size: 36px;
  font-weight: bold;
  color: #464c51;
}
#scoreBgStar {
  width: 350px;
  height: 350px;
  margin-left: -15px;
  /*background-image: url("../img/pointgreen.gif");*/
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover;
}
h3.result {
  font-size: 80px;
  padding-top: 150px;
  font-weight: bold;
  font-family: 'Kodchasan';
}
h3.resultTitle {
  font-size: 50px;
  font-family: 'Kodchasan';
  font-weight: bold;
}
h2.resultTitle {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}
h2.exerciseTitle {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  color: #393939;
  padding: 25px;
}
h3.pointTitle {
  font-size: 36px;
  font-weight: bold;
}


.circleStar {
  float: left;
  width: 145px;
  height: 145px;
  color: #e2e2e2;
  background-color: #ffffff;
  border: solid 10px #e2e2e2;
  border-radius: 100px;
  position: relative;
  margin-top: -15px;
  margin-left: -25px;
}
.circleGreen {
  float: left;
  width: 145px;
  height: 145px;
  color: #3EBBAE ;
  background-color: #ffffff;
  border: solid 10px #3EBBAE;
  border-radius: 100px;
  position: relative;
  margin-top: -15px;
  margin-left: -25px;
}
.circleYellow {
  float: left;
  width: 145px;
  height: 145px;
  color: #FFCD1A ;
  background-color: #ffffff;
  border: solid 10px #FFCD1A;
  border-radius: 100px;
  position: relative;
  margin-top: -15px;
  margin-left: -25px;
}
.circleRed {
  float: left;
  width: 145px;
  height: 145px;
  color: #EF5F61 ;
  background-color: #ffffff;
  border: solid 10px #EF5F61;
  border-radius: 100px;
  position: relative;
  margin-top: -15px;
  margin-left: -25px;
}


.exerciseImg {
  width: 100%;
  border-radius: 17px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  border: solid 10px #ffffff;
  background: none;
  margin-top: 70px;
}

.exerciseImg img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}
