body {
    font-family: 'Kodchasan', sans-serif;
    background-color: #FCFBF5;
    background-image: url("../img/fakeface_bg.png");
    background-repeat : no-repeat;
    background-position: 0px 245px;
    background-size: 100% auto;
}
<<<<<<< HEAD

textarea:focus, input:focus, a:focus{
  outline: none;
}

=======
>>>>>>> parent of 05fc25f... [Css] new
@font-face {
    font-family: 'nattanan_tsl_fingerspellingRg';
    src: url('/../fonts/nattanan_tsl_fingerspelling-webfont.eot');
    src: url('/../fonts/nattanan_tsl_fingerspelling-webfont.eot?#iefix') format('embedded-opentype'),
    url('/../fonts/nattanan_tsl_fingerspelling-webfont.woff2') format('woff2'),
    url('/../fonts/nattanan_tsl_fingerspelling-webfont.woff') format('woff'),
    url('/../fonts/nattanan_tsl_fingerspelling-webfont.ttf') format('truetype'),
    url('/../fonts/nattanan_tsl_fingerspelling-webfont.svg#nattanan_tsl_fingerspellingRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@media (min-width: 1200px) {
    .container {
        max-width: 1440px;
    }
}
a.logoLoginPhoto:hover, a.logoLoginPhoto:focus {
    text-decoration: none;
}
.function {
    padding-top: 150px;


}
.header {
    height: 128px;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.navbar-brand {
    width: 100%;
    /*padding-top: 1.3125rem !important;*/
    /*padding-bottom: .3125rem !important;*/

}
.navbar-brand img {
    width: 100%;
    height: auto;
    margin-left: -60px;
    /*margin-top: 10px;*/
}
.navbar-expand-lg {
    height: 110px;
    background-color: #FCFBF5;
    /*box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);*/
}
.menuItem img {
    width: 40%;
    height: auto;
    margin-top: 5px;
}
a.menuCate {
    width: 100%;
    height: 80px;
    color: #ffffff;
    font-family: 'Kodchasan', sans-serif;
    font-size: 20px;
    background-color: #FFCD1A;
    border-radius: 50px;
    border: 6px solid #ffffff;
    padding-top: 7%;
    font-weight: bold;
    margin-top: -40px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

}
a.menuSen {
    width: 100%;
    height: 80px;
    color: #ffffff;
    font-family: 'Kodchasan', sans-serif;
    font-size: 20px;
    background-color: #EF6267;
    border-radius: 50px;
    border: 6px solid #ffffff;
    padding-top: 7%;
    font-weight: bold;
    margin-top: -40px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

}
a.menuExer {
    width: 100%;
    height: 80px;
    color: #ffffff;
    font-family: 'Kodchasan', sans-serif;
    font-size: 20px;
    background-color: #4CAC72;
    border-radius: 50px;
    border: 6px solid #ffffff;
    padding-top: 7%;
    font-weight: bold;
    margin-top: -40px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

}


nav.nav-mobile {
    background-color: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
}
@media only screen and (min-width: 415px) {
    nav.nav-mobile {
        background-color: #ffffff;
        box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
        display: none;
    }
}

.bg {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: -5px;
    z-index: -1;
}

.functitle {
    /*background-image: url("../img/category_map.png");*/
    /*background-repeat : no-repeat;*/
    /*background-size: cover;*/
    margin-top: -980px;
}
.functitle h1 {
    font-size: 48px;
    font-weight: bold;
    color: #52341c;
    margin-top: 85px;
}
.categories_list {
    margin: 30px 120px;
    width: 100%;
}
.categories_list_padding {
    padding: 30px 120px;
    width: 100%;
    height: auto;
}
.card {
    width: 100%;
    height: 310px;
    border-radius: 33px;
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.16);
    border: solid 10px #ffcd1a;
    background-color: #ffffff;
    margin-top: 15px;
}
.card-body {
    height: 70px;
    text-align: center;
    color: #393939;
}
.card:hover {
    background: #ffcd1a;
    color: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    /*transform: scale(0.9, 0.9);*/
}
.card-body h4 {
    font-size: 30px;
    font-weight: bold;
}
.card-img-top {
    width: 75%;
    height: auto;
    margin-top: 5%;
    margin-left: 45px;
}

.wordPhoto {
    width: 350px;
    height: 350px;
    margin-top: 15%;
    border-radius: 50%;
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    border: solid 10px #ffffff;
}
.wordPhoto img {
    display: inline;
    margin: 0 auto;
    height: auto;
    width: 100%;
}
.videoShow {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
    background-image: url("/../img/video_wood.png");
}
.videoShow video {
    padding: 25px 15px;
    position: relative;
}
.wordShow {
    margin-top: 55px;
}
.btn-titleTh {
    width: 198px;
    height: 77px;
    background: none;
    background-image: url("/../img/menu_wood.png");
    background-repeat: no-repeat;
    /*pointer-events: none;*/
    /*margin-top: -65%;*/
}
.btn-titleSign {
    width: 198px;
    height: 77px;
    background: none;
    background-image: url("/../img/menu_wood.png");
    background-repeat: no-repeat;
    /*pointer-events: none;*/
    /*margin-top: -65%;*/
}
.showTextWord {
    width: 100%;
    height: 200px;
    background: #ffffff;
    /*pointer-events: none;*/
    border: none;
}
h2.textLang {
    font-size: 78px;
    font-weight: bold;
    color: #453324;
    margin-top: 60px;
}
h2.signLang {
    font-family: 'nattanan_tsl_fingerspellingRg';
    font-size: 78px;
    font-weight: bold;
    color: #453324;
    margin-top: 60px;
}
.titleBox {
    margin-top: -21%;
}
.return{
    margin-top: -100px;
}
.btn-Stdback {
    width: 300px;
    height: 107.7px;
    border-radius: 76px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.16);
    border: solid 7px #ffffff;
    background-color: #ef6267;
    /*pointer-events: auto;*/
}
.btn-Stdback h2 {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}



.exercise_list {
    width: 100%;
    margin: 50px 130px;
}
.selectPhoto {
    /*background-image: url("");*/
}

.content_bg {
    width: 100%;
    height: auto;
    margin-top: -410px ;
}
.content_bg img {
    width: 100%;
    height: auto;
}

footer {
    width: 100%;
    margin-top: -60px;
}
.copyright {
    width: 100%;
    height: 80px;
    box-shadow: 0 0 50px 0 rgba(19, 41, 70, 0.04);
    background-color: #4cac72;
}
.copyright h3 {
    font-size: 15px;
    padding-top: 25px;
    color: #ffffff;
}
.footer hr {
    margin-top: -1rem;
    margin-bottom: -1rem;
    border: 0;
    border-top: 15px solid #ffffff;
    border-radius: 25px 25px 25px 25px;
}



.videoShow button {
    font-size: 100px;
    color: #FFFFFF;
}


.slick-prev {
    left: -175px!important;
}
.slick-next {
    right: -175px!important;
}

.slick-next, .slick-prev {
    width: 120px!important;
    height: 120px!important;
}


.slick-initialized .slick-slide {
    /*width: 380px;*/
    /*height: 349px;*/
}



/*.slick-list {*/
/*width: 100%;*/
/*}*/
/*.slick-initialized .slick-slide {*/
/*width: 410px;*/
/*}*/
/*.slick-slider {*/
/*width: 100%;*/
/*!*position: absolute!important;*!*/
/*}*/



/* sentence function 2*/
.sentence {
    /*padding: 0 50px;*/
}
.sentenceTitle1 {
    width: 240px;
    height: 100px;
    background-image: url("/../img/menu_wood.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.sentenceTitle2 {
    width: 240px;
    height: 100px;
    background-image: url("/../img/menu_wood.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin:0 auto;
}
.sentenceTitle3 {
    width: 240px;
    height: 100px;
    background-image: url("/../img/menu_wood.png");
    background-repeat: no-repeat;
    background-size: 100%;
    float: right;
}
.sentenceTitle1 h2,.sentenceTitle2 h2,.sentenceTitle3 h2 {
    text-align: center;
    padding-top: 10%;
    font-weight: bold;
}
