@font-face {
    font-family: 'nattanan_tsl_fingerspellingRg';
    src: url('/../fonts/nattanan_tsl_fingerspelling-webfont.eot');
    src: url('/../fonts/nattanan_tsl_fingerspelling-webfont.eot?#iefix') format('embedded-opentype'),
    url('/../fonts/nattanan_tsl_fingerspelling-webfont.woff2') format('woff2'),
    url('/../fonts/nattanan_tsl_fingerspelling-webfont.woff') format('woff'),
    url('/../fonts/nattanan_tsl_fingerspelling-webfont.ttf') format('truetype'),
    url('/../fonts/nattanan_tsl_fingerspelling-webfont.svg#nattanan_tsl_fingerspellingRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
a {
    text-decoration: none!important;
}

.TeacherEdudeaf h3 {
    font-size: 17px;
    font-weight: bold;
    color: #3078ff;margin-top: 15%;
}

.userShowIcon {
    width: 100%;
    height: auto;
}
.userShowIcon img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 4px solid #FFFFFF;
    background: #3078ff ;
    filter: drop-shadow(0px 2px 8px rgba(0,0,0,0.2));
}

.TeacherEdudeaf p {
    font-size: 15px;
    font-weight: bold;
    color: #26335e;
}

.drag {
    font-family: 'nattanan_tsl_fingerspellingRg';
    -webkit-text-stroke: 1px #000000;
    font-size: 95px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 2.79px;
    text-align: left;
    color: #393939;
}
html{
    position: relative;
    min-height: 100%;

}
@media (min-width: 1200px) {
    .container {
        max-width: 1440px;
    }
}
body{
    margin-bottom: 80px;
    background-color: #fafbfc;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}
.mt-10{
    margin-top: 10rem!important;
    margin-right: 140px;
}




/* Toggle Styles */
.navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100px;
    border-bottom: solid 2px #e8e8e8;
    background-color: #ffffff;
}
.navbar-brand {
    width: auto;
    height: auto;
    font-size: 45px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: bold;
    text-align: left;
    color: #3078ff;
}

.navbar-brand img {
    width: 70%;
}
.btn-logout {
    width: 169.9px;
    height: 48.4px;
    border-radius: 76px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #c6ccd8;
    background-color: #ffffff;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #abb1bc;
}



.nav-pills>li>a {
    border-radius: 0;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}

#wrapper.toggled {
    padding-left: 250px;
    overflow: hidden;
}

#sidebar-wrapper {
    z-index: 9;
    position: fixed;
    margin-top: 100px;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #ffffff;
    border-right: solid 2px #e8e8e8;
    /*-webkit-transition: all 0.5s ease;*/
    /*-moz-transition: all 0.5s ease;*/
    /*-o-transition: all 0.5s ease;*/
    /*transition: all 0.5s ease;*/
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;
    overflow-x: hidden;
}

.xyz {
    min-width: 360px;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px;
}

.fixed-brand {
    width: auto;
}
/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 20px;
}

.sidebar-nav li {
    text-indent: 15px;
    line-height: 75px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #c6ccd8;

}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #3078ff;
    background-color: #f4f8ff;
    border-left: #3078ff 6px solid;
}


.sidebar-nav li a.active{
    text-decoration: none;
    color: #3078ff;
    background-color: #f4f8ff;
    border-left: #3078ff 6px solid;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.no-margin {
    margin: 0;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    .fixed-brand {
        width: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
        width: 50px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 250px;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;
    }
}



/*functitle*/
.functitle {
    margin-bottom: 20px;
}
.functitle h1 {
    font-family: 'Bai Jamjuree';
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 1.5px;
    text-align: left;
    color: #3078ff;
    float: left;
}
.circke-blue {
    width: 20px;
    height: 20px;
    float: left;
    background: none ;
    border-radius: 50px;
    border: solid 4px #3078ff;
    margin-top: 15px;
    margin-right: 20px;
}
.videoAnimate video {
    vertical-align: middle;
}

.btn-create {
    width: 100%;
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50px;
    border: solid 1px #3078ff;
    background-color: #ffffff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #3078ff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
}
.btn-create:hover {
    border: solid 1px #c6ccd8;
    background-color: #3078ff;
    color: #ffffff;
}

/*!*.btn-create {*!*/
    /*width: 100%;*/
    /*height: 60px;*/
    /*font-family: 'Bai Jamjuree';*/
    /*font-size: 16px;*/
    /*font-weight: 600;*/
    /*line-height: 1.19;*/
    /*letter-spacing: 0.48px;*/
    /*color: #3078ff;*/
    /*box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);*/
    /*border: solid 1px #3078ff;*/
    /*border-radius: 50px;*/
    /*background-color: #ffffff;*/
/*}*/
/*!*.btn-create a {*!*/
    /*!*font-family: 'Bai Jamjuree';*!*/
    /*!*font-size: 16px;*!*/
    /*!*font-weight: 600;*!*/
    /*!*color: #3078ff;*!*/
/*!*}*!*/
/*!*.createCate :hover {*!*/
    /*!*background-color: #3078ff;*!*/
    /*!*color: #ffffff;*!*/
/*!*}*!*/

/*.btn-create :hover {*/
    /*text-decoration: none;*/
    /*border: solid 1px #c6ccd8;*/
    /*background-color: #3078ff;*/
    /*color: #ffffff;*/
/*}*/

table td, .table th {
    padding: 1.25rem!important;
    vertical-align: baseline!important;
    border-top: none;
}
.categories_list {
    width: 100%;
    height: auto;
    float: left;
    font-family: 'Bai Jamjuree';
    color: #26335e;
    font-size: 20px;
}
.categories_list th {
    font-weight: bold;
}

.list td img {
    width: 50%;
    height: auto;
}

.padding40 {
    padding-top: 20px;
}
.createInput {
    width: 100%;
    height: 70px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    color: #b2b2b2;
}
.createSign {
    width: 100%;
    height: 250px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    color: #b2b2b2;
    pointer-events: none;
    word-wrap: break-word;
}
.btnFile {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
/*.file-input {*/
    /*width: 273.9px;*/
    /*height: 73.9px;*/
    /*border-radius: 76px;*/
    /*box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.16);*/
    /*background-color: #3078ff;*/

/*}*/
.buttonAction {
    margin-top: 80px;
}
.categoryTitle {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #26335e;
}
.btn-createCate {
    width: 330px;
    height: 70px;
    font-size: 26px;
    font-weight: 600;
    color: #3078ff;
    border-radius: 76px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #3078ff;
    background-color: #ffffff;
}
.btn-teachBack {
    width: 180px;
    height: 70px;
    padding-top: 15px;
    font-size: 26px;
    font-weight: 600;
    color: #e86371;
    border-radius: 50px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #e86371;
    background-color: #ffffff;
}
.btn-Edit {
    width: 50px;
    height: 50px;
    color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #3078ff;
}
.btn-Edit i {
    margin: auto;
    padding: 8px 0 8px 0;
}
.btn-Edit:hover,.btn-Edit i:hover{
    color: #ffffff;
    margin: auto;
    /*padding: 8px 0 8px 0;*/
}

.btn-Red {
    width: 50px;
    height: 50px;
    color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #e86371;
}
.btn-More {
    width: 150px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 100px;
    border: solid 1px #c6ccd8;
    background-color: #ffffff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.btn-More {
    color: #abb1bc;
}
.btn-More:hover {
    border: solid 1px #c6ccd8;
    background-color: #3078ff;
    color: #ffffff;
}

.footer {
    font-family: 'Bai Jamjuree';
    font-size: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3078FF;
    color: white;
    text-align: center;
    z-index: 10;
}

/*.fieldControl { max-width:90%; width:460px; position:absolute; top:58%; left:50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);}*/

.customFile {
    width: 100%;
    height: 70px;
    border-radius: 8px 50px 50px 8px;
    background: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    font-weight: 600;
    color: #b2b2b2;
    position: relative;
    font-size: 20px;
    line-height: 33px;
    overflow: hidden;
}
.customFile:before {
    content: attr(data-label);
    font-family: FontAwesome , 'Bai Jamjuree';
    /*content: "\f093 &nbsp อัพโหลด ";*/
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #3078ff;
    color: #FFF;
    border-radius: 50px;
    padding: 20px 12px 20px 0;
    float: left;
    width: 275px;
    height: 70px;
    text-align: center;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.customFile input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 88888;
    width: 100%;
    height: 70px;
    cursor: pointer;
    opacity: 0!important;
}
.customFile .selectedFile {
    color: #b2b2b2;
    display: block;
    padding: 20px 10px 0;
    margin-left: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transform: translateX(0%);
    /*transition: all 0.4s ease 0.6s;*/
}
/* transition TDO */
.customFile .selectedFile.inProgress {
    transform: translateX(100%);
    transition: all 0.4s ease 0.6s;
}

/* Right Btn */
.customFile[data-display=right]:before {
    float:right;
}
.customFile[data-display=right] .selectedFile {
    margin: 0 150px 0 0;
}

/* vertical */
.customFile[data-display=vertical]:before {
    float:none; width:auto;
}
.customFile[data-display=vertical] .selectedFile {
    margin: 0;
}

/* Btn */
.customFile[data-display=btn]:before {
    float:none;
    width:auto;
}
.customFile[data-display=btn] .selectedFile {
    display:none;
}








.swal2-title {
    font-family: 'Bai Jamjuree';
}
