body ,::placeholder {
    font-family: 'Bai Jamjuree', sans-serif;
    /* height: 100%;
    height: 1080px; */
    /* overflow:hidden; ไม่เลื่อน */
}
h1{
    font-weight: bold;
}

h1,p,label,a {
    font-family: 'Bai Jamjuree', sans-serif;
    /* overflow:hidden; ไม่เลื่อน */
}
li {
    list-style-type:none;
}


/* teacher_login */
.teacher-logo {
    width: 100%;
    height: 240px;
}
/*@media only screen and (min-width: px) {*/
    /*.teacher-log {*/
        /*background-color: lightblue;*/
    /*}*/
/*}*/
.teacher-logo img {
    width: 300px;
    height: auto;
    margin-top: 60px;
}

.teacher-login {
    width: 100%;
    height: 600px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login-img {
    height: 600px;
    float: left;
}
.login-img img {
    width: 120%;
    height: auto;
    position: absolute;
    z-index: 1;
    margin-left: -150px;
    margin-top: 35px;
}
.login-from {
    height: 600px;
    float: left;
}
.login-from h1 {
    font-size: 31px;
    text-align: center;
    margin-top: 35px;
}
.login {
    margin-top: 35px;
}
.login label {
    font-size: 22px;
    padding-left: 5px;
}
.login i {
    font-size: 22px;
    color: #3078FF;
}
.login_input {
    width: 100%;
    height: 81px;
    border-radius: 15px;
    border: none;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login form {
    margin-top: 15px;
}
button.btn-login {
    width: 240px;
    height: 68px;
    font-size: 23px;
    font-family: 'Bai Jamjuree', sans-serif;
    color: #ffffff;
    background-color: #3078FF;
    margin-top: 15px;
    border-radius: 50px;
}
.footer {
    width: 100%;
    height: 240px;
}
.footer-line img {
    width: 100%;
    height: auto;
}
.coppy-line {
    float: left;
    width: 100%;
    height: 160px;
}
.line {
    margin-top: -38px;
    position: absolute;
}
.small-line {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    margin-top: -20px;
}
.copyright {
    width: 100%;
    height: 80px;
    padding: 30px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: bold;
    font-size: 19px;
    float: left;
    color: #ffffff;
    background: #3078FF;
    position: fixed;
    left: 0;
    bottom: 0;
}
.copyright span {
    color: #ffffff;
}



/* teacher_home */

.teacherSys-logo {
    width: 100%;
    height: 160px;

}
.teacherSys-logo img {
    width: 300px;
    height: auto;
    margin-top: 25px;
}
.teacherSys {
    width: 100%;
    height: 1773px;
    margin-bottom: 150px;
    border-radius: 20px;
    background-color: #fcfcfc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.teacher-menu {
    width: 100%;
    height: 1773px;
    border-radius: 20px 0px 0px 20px;
    z-index: 1;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.teacherUser {
    width: 100%;
    height: 245px;
}
.teacherMenu {
    width: 100%;
    height: 1773px;
    margin-top: 50px;
    padding-bottom: 100px;
    font-size: 20px;
}
li.menu {
    padding: 15px 0 15px 0;
}
.teacherMenu a.active {
    color: #3078FF!important;
    font-weight: bold;

}
.teacherMenu a {
    color: #B2B2B2 !important;
}
.teacherMenu a span {
    padding-left: 15px;
}
.teacherMenu a:hover {
    text-decoration: none;
}
button.btn-logout {
    width: 250px;
    height: 75px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 20px;
    color: #ffffff;
    background-color: #3078FF;
    margin-top: 50px;
    border-radius: 50px;
}
.teacherUser i {
    font-size: 110px;
    color: #3078FF;
    margin-top: 35px;
}
.teacherUser h1 {
    font-size: 30px;
    padding-top: 25px
}
.teacherUser hr {
    border: 3px solid #F7F7F7;
}


.system {
    width: 100%;
    height: auto;
    float: left;
}
.sysHead {
    width: 100%;
    height: 110px;
}
.sysHead h1 {
    color: #3078FF;
    font-size: 27px;
    font-weight: bold;
    margin: 40px;
}
.sysHead hr {
    border: 3px solid #F5F5F5;
}


.system{
    float: left;
}
.teacherShow {
    margin-top: 60px;
    margin-left: 25px;
    margin-right: 25px;
}

.search_input {
    width: 100%;
    height: 71px;
    border-radius: 15px 50px 50px 15px;
    border: none;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button.btn-search {
    width: 175px;
    height: 71px;
    color: #ffffff;
    background-color: #3078FF;
    border-radius: 50px;
    z-index: 1;
    right: 0;
    position: absolute;
    margin-right: 15px;
    font-size: 20px;
    font-family: 'Bai Jamjuree', sans-serif;
}
button.btn-addCate {
    width: 100%;
    height: 71px;
    color: #ffffff;
    background-color: #3078FF;
    border-radius: 50px;
    z-index: 1;
    right: 0;
    position: absolute;
    margin-right: 15px;
    font-size: 20px;
    font-family: 'Bai Jamjuree', sans-serif;
}

table {
    margin-top: 45px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: 'Bai Jamjuree', sans-serif;
}
thead {
    border: 1px solid #3078FF;
    padding: 10px;
}
tr {
    height: 70px;
}
th, td {
    padding: 1em;
    background: #ddd;
    border-bottom: 2px solid #B2B2B2;
}


/* teacher_categoryAdd.html */

.addForm {
    width: 100%;
    height: 400px;
    float: left;
    padding: 60px 25px 0 25px
}
.addCate {
    width: 100%;
    color: #000000;
    font-family: 'Bai Jamjuree' , sans-serif;
}
.addCate label {
    font-weight: bold;
    font-size: 26px;
    margin-top: 35px;
}
.addCate input {
    width: 100%;
    height: 71px;
    border-radius: 10px;
    border: none;
    padding: 20px;
    margin-top: 30px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.custom-file label.custom-file-label {

    font-size: 16px;
}
.fileBox label {
    margin-top: 30px;
    float: left;
}
button.btn-add {
    width: 100%;
    height: 90px;
    background-color: #3078FF;
    border-radius: 50px;
    color: #ffffff;
    font-size: 26px;

}
button.btn-cancle {
    width: 100%;
    height: 90px;
    background-color: #E86371;
    border-radius: 50px;
    color: #ffffff;
    font-size: 26px;
}



.hello {
    width: 100px;
    height: 100px;
    background: red;
}